{%- if organizations is defined %}
    {%- for organization in organizations -%}
        {%- if organization.accounts is defined %}
            {%- for account in organization.accounts -%}
# Configure the {{ account.type }} Provider
                {%- if account.type == "DataDog" %}
                {%- elif account.type == "GitHub" %}
provider "github" {
    token = var.github-token
    owner = {{ account.name }}
}

data "github_organization" "github_organization_{{ organization.name }}_{{ account.name }}" {
    name = {{ account.name }}
}
               {%- elif account.type == "Terraform Cloud" %}
                {% endif %}
            {%- endfor %}
        {% endif %}
    {%- endfor %}
{% endif %}

